<!DOCTYPE html>
<html lang="en">
<head>
	<title>Social</title>
	<link rel="stylesheet" href="styleS.css">
</head>
<body>
	<header>
		<div>
              <ul class="nav-area">
              	<li ><a href="index.html">sign up</a></li>
              	
              	<li ><a href="pictures.html">Login</a></li>
              	
              </ul>

              <div class="social">
   <button class="social facebook"><a href="https://www.youtube.com/channel/UCirPIw-g3PaZ-znoxp0IcMA?sub_confirmation=1">Subscribe on Youtube</a></button>
   <button class="social instagram"><a href="https://www.instagram.com/sakkiemashile/?hl=en">Follow us on Instagram</a></button>
   <button class="social linkedin"><a href="https://www.linkedin.com/in/sakkie-mashile-763284125/">Connect us on Linkedin</a></button>
   <button class="social google"><a href="#">Like us on Facebook</a></button>

</div>
		</div>

	</header>

</body>
</html>